html { 
    background-color: #EBDDBC;
}

h3 { 
    color: #9E957E;
}

p { 
    text-align: right;
    color: #C4B99D;
}

a {
    font-weight: bold;
    color: #9E957E;
    text-decoration: inherit;
}

.main-div {
    align-content: center;
    width: 50%;
    height: fit-content;
}

.profpic {
    align-content: center;
    width: 100px;
    height: 100px;
}